<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169066384439-4qrqoh9ovu4j07b04nbg29fqr4ui1207.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169066384439-4qrqoh9ovu4j07b04nbg29fqr4ui1207</string>
	<key>API_KEY</key>
	<string>AIzaSyDd_eIlVA9xiHK0iAx5f5wvGb2kyxINyOE</string>
	<key>GCM_SENDER_ID</key>
	<string>169066384439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotesApp</string>
	<key>PROJECT_ID</key>
	<string>ali-mynotes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ali-mynotes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169066384439:ios:7695fb6c845c9f7cf343b2</string>
</dict>
</plist>